{% extends "guest/base.html" %}
{% load i18n %}

{% block content %}
<form method="get" action="">{% csrf_token %}
    <input type="text" name="q" placeholder="Search" />
    <input type="submit" hidden />
</form>
<ul>
  {% for guest in  guests %}
  <li>{{ guest.uid }} - {{ guest.mail }} <a href="{% url guest.views.admin_show uid=guest.uid %}">{% trans "show" %}</a> <a href="{% url guest.views.admin_edit uid=guest.uid %}">{% trans "edit" %}</a> <a href="{% url guest.views.admin_delete uid=guest.uid %}">{% trans "delete" %}</a></li>
  {% endfor %}
</ul>
{% endblock %}
